<p>hello from section file</p>
{{ section.settings.text }}

{% schema %}
  {
    "name": "Hello Section",
    "settings": [
		{
"type": "text",
"id": "text",
"label": "text"
        }
]
  }
{% endschema %}
